<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Login to unlock premium offers
    </div>
  </div>
  <div>
    <ion-list>
      <form (submit)="doLogin()" name="myForm">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text"  [(ngModel)]="loginData.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="loginData.password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block class="login" type="submit">Login</button>
        </ion-item>
      </form>
    </ion-list>
    <button ion-button block clear (click)="register()">
    No have an account? Register Now
    </button>
  </div>
</ion-content>
