page-login {
  .splash-bg {
    position: relative;
    background: url('../assets/img/brands.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/app-logo.jpg') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
