<!--
  Generated template for the CompanyList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Companies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="companyData" style="margin-top: 70px;">
  <div *ngFor = "let company of companyData">
  <ion-item (click)="loadOffers(company.company_id)">
    <div item-left>
      <img style="height:50px;width:auto;" src="{{company.logo_image}}">
    </div>
    <h2>{{company.company}}</h2>
    <p>{{company.offer_count == 0 ? 'No ongoing offers' : company.offer_count  + ' offer(s) present'}} </p>
  </ion-item>
  </div>
</ion-content>
