<!--
  Generated template for the Offer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>View Offer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <div class="show-bg">
    <ion-card *ngIf="!offerData">
        <ion-item>
        <ion-avatar>
          <!--<img class="center" style="width:400px; height:auto" src="../../assets/img/wait.gif">-->
          <div class="animation">
            <img class="center" style="width:400px;height:auto;" src="assets/img/emoji/great/{{randomNumber}}.png">
          </div>
        </ion-avatar>
        <div style="text-align:center;">
          <b>Wait for an Awesome Offer...</b>
        </div>
        
      </ion-item>
    </ion-card>
    <ion-card *ngIf="offerData">
      <ion-item>
        <ion-avatar>
          <img class="center" style="width:175px; height:100px" src="{{offerData.offer.company_logo_url}}">
        </ion-avatar>
      </ion-item>

      <ion-card-content>
        <h1 style="text-align:center;"> <b>{{offerData.offer.discount_title}}</b></h1>
        <h3 style=" margin-top:30px;"> <b>Rating: </b>
        <ion-icon *ngIf="offerData.offer.rating>=1" name="star" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating>=2" name="star" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating>=3" name="star" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating>=4" name="star" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating>=5" name="star" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating%1!=0" name="star-half" color="light"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating==0" name="star-outline"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating<=1" name="star-outline"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating<=2" name="star-outline"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating<=3" name="star-outline"></ion-icon>
        <ion-icon *ngIf="offerData.offer.rating<=4" name="star-outline"></ion-icon>
          <!--<ion-icon *ngFor="n in getNumber(offerData.offer.rating) track by $index" name="star" color="light"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>-->
          </h3>
        <h3><b>Description:</b> {{offerData.offer.discount_details}}</h3>
        <h3><b>Terms &amp; Conditions:</b> {{offerData.offer.tnc == null ? 'Not available' : offerData.offer.tnc }}</h3>
        <h3><b>Validity:</b> This offer is valid till {{offerData.offer.valid_to | date : "EEEE, MMMM d, y"}}</h3>
        <h3><b>Product(s):</b> </h3> 
        <button ion-button small color="primary" round *ngFor = "let product of offerData.product" (click)="viewProduct(product.product_id)">{{product.product}}</button> 
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="secondary">
            
            <div class = "row offer-subtitle">
              <ion-icon name="pricetag"></ion-icon> <del>Rs 500.00</del> &nbsp;&nbsp;&nbsp;400.00
            </div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="secondary">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>You save Rs 100/=</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button ion-button icon-left clear small color="secondary" (click)="presentActionSheet()">
            <ion-icon name="apps"></ion-icon>
            <div>Actions</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--<div class="animation">
        <img src = "http://www.pricecut.lk/mobile_api/emoji/great/{{randomNumber}}.png">
      </div>-->
  </div>
</ion-content>
