page-offer {
        .show-bg {
            position: relative;
            background: url('http://pricecut.lk/dist1/images/categories/supermarkets.jpg') no-repeat transparent;
            background-size: cover;
            height: 100%;
            z-index: 1;
            background-repeat: no-repeat;
            
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .animation {
            position: relative;
            animation-name: example;
            animation-duration: 10s;
            left:0px;
            top:0px
        }

        @keyframes example {
            0%   {left:0px; top:0px;}
            10%  {left:20px; top:0px;}
            20% {left:-20px; top:0px;}
            30% {left:20px; top:0px;}
            40% {left:-20px; top:0px;}
            50% {left:20px; top:0px;}
            60% {left:-20px; top:0px;}
            70% {left:20px; top:0px;}
            80% {left:-20px; top:0px;}
            90% {left:20px; top:0px;}
            100% {left:0px; top:0px;}
        }
}
