<!--
  Generated template for the Offers page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Offers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="companyData">
    <ion-item style="text-align:center">
      <div item-left>
        <img style="height:50px;width:auto;" src="{{companyData.logo_image}}">
      </div>
      <h2>{{companyData.company}}</h2>
      <p><a href="tel: {{companyData.contact_number}}"><ion-icon name="call"></ion-icon> {{companyData.contact_number == '' ? 'Not available' : companyData.contact_number}} </a></p>
    </ion-item>
  </div>
<div class="card-background-page" *ngIf="deals">
    <div *ngIf="!deals.error">
      <!--<ion-card *ngFor = "let deal of deals"  (click) = "showOffer(deal.offer.discount_id)">
        <div class = "row">
          <div class = "company-image">
            <img src="{{deal.offer.company_logo_url}}"/>
          </div> 
          <div class = "offer-det-area">
            <div class = "row offer-title">{{deal.offer.discount_title}}</div>
            <div class = "row offer-subtitle">
              <del>Rs {{deal.offer.original_price}}</del> &nbsp;&nbsp;&nbsp; <ion-icon name="pricetag"></ion-icon>&nbsp; Rs {{deal.offer.discounted_price}}
            </div>
          </div> 
        </div>
      </ion-card>-->
      <div class="listing listing-radius listing-success" *ngFor = "let deal of deals"  (click) = "showOffer(deal.offer.discount_id)">
        <div class="shape">
          <div class="shape-text">{{deal.offer.discount_percentage | number : '1.1-1'}}%</div>
        </div>
        <div class="listing-content row">
          <div class = "company-image col">
            <img style="height: 100px; width: 175px;" src="{{deal.offer.company_logo_url}}"/>
            <div *ngIf="deal.offer.premium_offer == 1" class="premium">
              Premium Offer
            </div>
          </div> 
          <div class="col">
            <b class="lead">{{deal.offer.discount_title}}</b>
            <ion-row>
              <ion-col>
                <p><del>Rs {{deal.offer.original_price}}</del> </p>
                <p><ion-icon name="pricetag"></ion-icon> &nbsp; Rs {{deal.offer.discounted_price}}</p>
              </ion-col> 
              
            </ion-row>
          </div>
        </div>
      </div>
    </div>
    <!--If offers not available-->
      <div *ngIf="deals.error">
        <ion-item>
            <!--<img class="center" style="width:400px; height:auto" src="../../assets/img/wait.gif">-->
            <div class="animation">
              <img class="center" style="width:400px;height:auto;" src="assets/img/emoji/oops/{{randomNumber}}.png">
            </div>
          <div style="text-align:center;height:auto;">
            <p>Oops... No offers available currently from this company.</p>
          </div>
          
        </ion-item>
      </div>
    </div>
</ion-content>
