page-offers {
        .card-background-page {
            ion-card {
                position: relative;
            }
            .company-image{
                height: 100%;
                width: 30%;
            }
            
            .offer-det-area{
                position: absolute;
                background-color: #233952;
                width: 70%;
                height: 100%;
            }

            .offer-title {
                margin: 15px;
                font-size: 1.5em;
                width: 100%;
                color: #f2f2f2;
            }

            .offer-subtitle {
                margin-left: 15px;
                font-size: 1.0em;
                width: 100%;
                color: #f2f2f2;
            }

        }
        .listing {
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            margin: 15px 0;
            overflow: hidden;
			border-radius: 7px;
			border-color: #5cb85c;
        }

        .shape {
            border-style: solid;
            border-width: 0 70px 40px 0;
            float: right;
            height: 0px;
            width: 0px;
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
			border-color: transparent #5cb75c transparent transparent;
        }

        .shape-text {
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            right: -40px;
            top: 2px;
            white-space: nowrap;
            -ms-transform: rotate(30deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }
        .listing-content {
            padding: 0 20px 10px;
        }
        .lead {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4;
        }

        .animation {
            position: relative;
            animation-name: example;
            animation-duration: 10s;
            left:0px;
            top:0px
        }

        @keyframes example {
            0%   {left:0px; top:0px;}
            10%  {left:20px; top:0px;}
            20% {left:-20px; top:0px;}
            30% {left:20px; top:0px;}
            40% {left:-20px; top:0px;}
            50% {left:20px; top:0px;}
            60% {left:-20px; top:0px;}
            70% {left:20px; top:0px;}
            80% {left:-20px; top:0px;}
            90% {left:20px; top:0px;}
            100% {left:0px; top:0px;}
        }

        .center{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .premium{
            position: absolute;
            width: 150px;
            height: 29px;
            background-color: #0ab21a;
            top: 67%;
            left: 165%;
            color: white;
            font-size: 12px;
            padding: 6px 11px 6px 39px;
            box-shadow: 1px 2px 2px 0;
        }

}
