<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>
<ion-content *ngIf="categoryData">
  <ion-card *ngFor = "let category of categoryData" (click) = "showCompanies(category.category_id)">
    <img style="height:250px;width:auto;" src="{{category.image_url}}"/>
      <!--<div class="transbox"></div>-->
      <div class="card-title">{{category.category}}</div>
      <div class="card-subtitle">{{category.company_count}} Listings</div>
  </ion-card>
</ion-content>
