// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$SIDEMENU_TOP:#5cb75c;
$SIDEMENU_BOTTOM:#4eb14e;
$SM_TRANSPARENCY: rgba(255,255,255,0.4);

.side-menu-gradient{
    background: -webkit-linear-gradient(left top, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
}

.profile-image{
    img{
        margin:10px;
        border:4px solid $SM_TRANSPARENCY;
        content:url("../assets/img/app-logo.jpg");
        display: block; 
        width: 40%; 
        height: auto; 
        margin-left: auto; 
        margin-right: auto;
    }
}

.side-menu-item{
    background:none;
    color:white;
    border-bottom: 1px solid;
    .item-content{
        background:none;
        &.activated{
            background:$SM_TRANSPARENCY;
        }
    }
}