<ion-menu [content]="content">

    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 44px;"></div>
      <div class="profile-image">
        <img />
      </div>
      <div class="spacer" style="width: 268px; height: 27px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left  side-menu-item" id="menu-list-item3" menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name='{{p.icon}}'></ion-icon>  {{ p.title }}</ion-item>
      </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>