<!--
  Generated template for the NetError page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>No Network Connection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <div class="animation">
      <img class="center" src="assets/img/emoji/oops.png" style="width:400px;height:auto;">
    </div>
    <div style="text-align:center;height:auto;">
      <p>Oops... No Internet connection.</p>
      <p>Turn on internet connection and try again</p>
      <button ion-button small color="primary" round (click)="tryAgain()">Try Again</button> 
    </div>
  </ion-item>
</ion-content>
