<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 style=color:black>Register Here</h2>
  <form (submit)="doSignup()">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="regData.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="regData.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [(ngModel)]="regData.cpassword" name="c_password" type="password"></ion-input>
    </ion-item>
    <ion-item>
          <button ion-button block type="submit">SignUp</button>
    </ion-item>
    
    <br/>
    
  </form>
</ion-content>
