page-page1 {
    
    .show-bg:before{
        background: url('../assets/img/background.jpg') no-repeat transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    }

    .card-background-page {
        ion-card {
            position: relative;
        }


        .company-image{
            height: 100%;
            width: 30%;
        }

        img {
            display: block;
            margin: auto;
            height:100px; 
            width:175px;
        }
        
        .offer-det-area{
            position: absolute;
            background-color: #233952;
            width: 70%;
            height: 100%;
        }

        .offer-title {
            margin: 15px;
            font-size: 1.5em;
            width: 100%;
            color: #f2f2f2;
        }

        .offer-subtitle {
            margin-left: 15px;
            font-size: 1.0em;
            width: 100%;
            color: #f2f2f2;
        }

        }

        .listing {
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            margin: 15px 0;
            overflow: hidden;
			border-radius: 7px;
			border-color: #5cb85c;
        }

        .shape {
            border-style: solid;
            border-width: 0 70px 40px 0;
            float: right;
            height: 0px;
            width: 0px;
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
			border-color: transparent #5cb75c transparent transparent;
        }

        .shape-text {
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            right: -40px;
            top: 2px;
            white-space: nowrap;
            -ms-transform: rotate(30deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }
        .listing-content {
            padding: 0 20px 10px;
        }
        .lead {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4;
        }

        .center{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
        }

        .premium{
            position: absolute;
            width: 150px;
            height: 29px;
            background-color: #0ab21a;
            top: 67%;
            left: 165%;
            color: white;
            font-size: 12px;
            padding: 6px 11px 6px 39px;
            box-shadow: 1px 2px 2px 0;
        }
}
