<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Price Cut</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="show-bg">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Serach for products, companies or services"></ion-searchbar>
      <ion-list *ngIf="currentItems && !currentItems.error">
      <button ion-item *ngFor="let item of currentItems" (click)="openItem(item.type,item.id)" padding>
        <div item-left>
          <img style="height:50px;width:auto;" [src]='item.icon' />
        </div>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </button>
    </ion-list>
    <ion-card *ngIf="currentItems && currentItems.error">
      <ion-card-content>
        No results
      </ion-card-content>
    </ion-card>

    <ion-slides pager style = "max-height:150px">
      <ion-slide *ngFor = "let slideurl of slideurls">
        <img [src] = "slideurl" >
      </ion-slide>
    </ion-slides>

    <!--<ion-card style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; margin-top: 20px; width:100%!Important; border-radius: 0px!Important;">
      <ion-card-header>
        Latest Deals
      </ion-card-header>
      <ion-card-content>
        <ion-slides style = "max-height:150px; max-width: 100%;">
          <ion-slide *ngFor = "let person of people" style=" max-width:160px;">
            <img style = "width:100px;height:100px;" [src] = "person.picture.thumbnail" >
            <b>{{person.name.first}}</b>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>-->
    <!--<div class="card-background-page">
      <ion-card *ngFor = "let deal of deals" (click) = "showOffer(deal.offer.discount_id)">
        <div class = "row">
          <div class = "company-image">
            <img src="{{deal.offer.company_logo_url}}"/>
          </div> 
          <div class = "offer-det-area">
            <div class = "row offer-title">{{deal.offer.discount_title}}</div>
            <div class = "row offer-subtitle">
              <del>Rs {{deal.offer.original_price}}</del> &nbsp;&nbsp;&nbsp; <ion-icon name="pricetag"></ion-icon>&nbsp; Rs {{deal.offer.discounted_price}}
            </div>
          </div> 
        </div>
      </ion-card>
    </div>-->
    <div style="margin: 20px;">
      <div class="listing listing-radius listing-success" *ngFor = "let deal of deals"  (click) = "showOffer(deal.offer.discount_id)">
        <div class="shape">
          <div class="shape-text">{{deal.offer.discount_percentage | number : '1.1-1'}}%</div>
        </div>
        <div class="listing-content row">
          <div class = "company-image col">
            <img class="center" src="{{deal.offer.company_logo_url}}"/>
            <div *ngIf="deal.offer.premium_offer == 1" class="premium">
              Premium Offer
            </div>
          </div> 
          <div class="col">
            <b class="lead">{{deal.offer.discount_title}}</b>
            <ion-row>
              <ion-col>
                <p><del>Rs {{deal.offer.original_price}}</del> </p>
                <p><ion-icon name="pricetag"></ion-icon> &nbsp; Rs {{deal.offer.discounted_price}}</p>
              </ion-col> 
              
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
