<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br/><br/>
  <ion-card>
    <ion-card-content>
      <p>
        Price cut is a popular source for online for providing current offers and sales information for thousands of merchants.
        A small business of less than a dozen employees located in Srilanka.Initially launched as an app in 2017.We are providing
        great offers for users.You can visit our home web page <a href="http://www.pricecut.lk">Visit our Website</a>
      </p>
    </ion-card-content>
</ion-card>
</ion-content>
